*, *::before, *::after {
    box-sizing: border-box;
    font: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {

    --font-ff-std: 'Open Sans' , sans-serif;

    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-p: 1.3125rem;
    --fs-button: .875rem;
}

/* Header Stlying */

.h1__content {
    font-family: var(--font-ff-std);
    font-size: var(--fs-h1);
    margin: 0 auto;
}

/* Section__1 Styling */


.flex {
    display: flex;
    flex-direction: column;
}
.section__1 {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

/* Main Container Stlying */

#mainContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 696px;
    height: 100%;
    max-height: 696px;
}

/* divGrid Styling */

.divGrid {
    background-color: gray;
    border: 0.05rem solid hotpink;
    cursor:pointer;
}

.hover {
    background-color: limegreen;
}


/* Button Styling */

.options {
    margin: 0 auto;
    padding-block: 2rem;
}

.gridSize {
    font-family: var(--font-ff-std);
    font-size: var(--fs-button);
    padding: .75rem 2.25rem;
    background-color: hotpink;
    border: none;
    border-radius: 50px;
}

.gridSize:hover {
    background-color: rgba(255, 105, 180, .5);
    cursor: pointer;
}

.reset {
    font-family: var(--font-ff-std);
    font-size: var(--fs-button);
    padding: .75rem 2.25rem;
    background-color: yellow;
    border: none;
    border-radius: 50px;
}

.reset:hover {
    background-color: rgba(255, 255, 0, .5);
    cursor: pointer;
}

.randomRgb{
    font-family: var(--font-ff-std);
    font-size: var(--fs-button);
    padding: .75rem 2.25rem;
    background-color: limegreen;
    border: none;
    border-radius: 50px;
}

.randomRgb:hover {
    background-color: rgba(50, 205, 50, .5);
    cursor: pointer;
}
.options button {
    margin-right: 25px;
}

